/* affichage var_dump */
pre {
    margin-top: 20px;
}

/* FOOTER */
section#f_links{
    padding: 50px;
}

ul#menu_bas{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: none;
}
ul#menu_bas li{
    display: inline;
    width: 33%;
}



/* Tentative d'afficher les liens de la navbar avant le début du scroll */
.navbar-custom .nav li a {
    color: #fed136;
}

.navbar-custom {
    background: #222222;    
}