/* affichage var_dump */
pre {
    margin-top: 20px;
}






/* Tentative d'afficher les liens de la navbar avant le début du scroll */

.navbar-custom .nav li a {
    color: #fed136;
}

.navbar-custom {
    background: #222222;    
}