/* Tentative d'afficher les liens de la navbar avant le début du scroll */

.navbar-custom .nav li a {
    color: #fed136;
}

.navbar-custom {
    background: #222;
}

/********** Ecart Section *********/

section {
    padding: 150px 0px;
}

/********** <ul><li> infos dans users.php ***********/

span.li.list-group-item{
    display: inline-block; 
    font-style: italic;
    width: 70px; 
}

/********** Photos type polaroïde **********/

.polaroid-images a
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 50px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}

.polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top:15px;
}

.polaroid-images img { 
    display: block; 
    width: inherit; 
}

.polaroid-images a:nth-child(2n)
{
    -webkit-transform: rotate(4deg);  
    -moz-transform: rotate(4deg); 
    transform: rotate(4deg); 
}

.polaroid-images a:nth-child(3n) { 
    -webkit-transform: rotate(-24deg);  
    -moz-transform: rotate(-24deg); 
    transform: rotate(-24deg); 
}

.polaroid-images a:nth-child(4n)
{
    -webkit-transform: rotate(14deg);  
    -moz-transform: rotate(14deg); 
    transform: rotate(14deg); 
}

.polaroid-images a:nth-child(5n)
{
    -webkit-transform: rotate(-18deg);  
    -moz-transform: rotate(-18deg); 
    transform: rotate(-18deg); 
}

.polaroid-images a:hover
{
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
        transform: scale(1.2);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

  /*********** Affichage des tabs dans users.php" **********/


section#tabs{
    padding: 25px;
}

  input[type="radio"] {
    position: absolute;
    display: none;
  }
  input[type="radio"]:nth-child(1):checked ~ .tabsContents .tabsContents__content:nth-child(1) {
    display: block;
  }
  input[type="radio"]:nth-child(2):checked ~ .tabsContents .tabsContents__content:nth-child(2) {
    display: block;
  }
  input[type="radio"]:nth-child(3):checked ~ .tabsContents .tabsContents__content:nth-child(3) {
    display: block;
  }
  input[type="radio"]:nth-child(4):checked ~ .tabsContents .tabsContents__content:nth-child(4) {
    display: block;
  }
  
  .tabs label {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .tabsContents__content {
    display: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #story{
    padding: 50px;
  }
  story {
    height: 100%;
  }
  
  galerie{
    height: 100%;
  }

  .tabs .tab {
    position: relative;
    background: #fff;
    padding: 1em;
    transition: all ease-in-out 200ms;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
  }
  .tabs .tab span {
    position: relative;
    z-index: 1;
  }
  .tabs .tab:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent transparent transparent transparent;
    transition: all ease-in 400ms;
  }
  .tabs .tab:hover {
    cursor: pointer;
  }
  .tabs .tab:hover:after {
    border-width: 0 210px 210px 0;
    transition: all ease-in 100ms;
  }
  .tabs .tab[for=galerie]:after {
    border-right-color: #222;
  }
  .tabs .tab[for=photo]:after {
    border-right-color: #222;
  }
  .tabs .tab[for=info]:after {
    border-right-color: #222;
  }
  .tabs .tab[for=story]:after {
    border-right-color: #222;
  }
  
  .tabsContents {
    color: #fed136;
  }
  .tabsContents .tabsContents__content {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
    max-height: auto;
    opacity: 0;
    overflow: hidden;
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .tabsContents .tabsContents__content.tabsContents__content--galerie {
    background: #222;
  }
  .tabsContents .tabsContents__content.tabsContents__content--photo {
    background: #222;
  }
  .tabsContents .tabsContents__content.tabsContents__content--info {
    background: #222;
  }
  .tabsContents .tabsContents__content.tabsContents__content--story {
    background: #222;
  }
  
  .h2, h2{
      text-align: center;
  }

  .list-group-item{
      background-color: #222 ;
  }

  li.list-group-item{
      color:#fed136;
  }
  span.li.list-group-item{
    display: inline-block; 
    width: 140px; 
    font-style: italic;
  }


  input[type="radio"]:nth-child(1):checked ~ .tabs .tab:nth-child(1) {
    color: #fed136;
  }
  input[type="radio"]:nth-child(1):checked ~ .tabs .tab:nth-child(1)[for=Galeries] {
    background: #fed136;
  }
  input[type="radio"]:nth-child(1):checked ~ .tabs .tab:nth-child(1)[for=Photos] {
    background: #fed136;
  }
  input[type="radio"]:nth-child(1):checked ~ .tabs .tab:nth-child(1)[for=info] {
    background: #fed136;
  }
  input[type="radio"]:nth-child(1):checked ~ .tabs .tab:nth-child(1)[for=story] {
    background: #222;
  }
  
  input[type="radio"]:nth-child(1):checked ~ .tabsContents .tabsContents__content:nth-child(1) {
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  input[type="radio"]:nth-child(2):checked ~ .tabs .tab:nth-child(2) {
    color: #fed136;
  }
  input[type="radio"]:nth-child(2):checked ~ .tabs .tab:nth-child(2)[for= galerie] {
    background: #222;
  }
  input[type="radio"]:nth-child(2):checked ~ .tabs .tab:nth-child(2)[for= photo] {
    background: #222;
  }
  input[type="radio"]:nth-child(2):checked ~ .tabs .tab:nth-child(2)[for= info] {
    background: #fff;
  }
  input[type="radio"]:nth-child(2):checked ~ .tabs .tab:nth-child(2)[for= story] {
    background: #fff;
  }
  
  input[type="radio"]:nth-child(2):checked ~ .tabsContents .tabsContents__content:nth-child(2) {
    max-height: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  input[type="radio"]:nth-child(3):checked ~ .tabs .tab:nth-child(3) {
    color: #fed136;
  }
  input[type="radio"]:nth-child(3):checked ~ .tabs .tab:nth-child(3)[for= galerie] {
    background: #222;
  }
  input[type="radio"]:nth-child(3):checked ~ .tabs .tab:nth-child(3)[for= photo] {
    background: #222;
  }
  input[type="radio"]:nth-child(3):checked ~ .tabs .tab:nth-child(3)[for= info] {
    background: #fed136;
  }
  input[type="radio"]:nth-child(3):checked ~ .tabs .tab:nth-child(3)[for= story] {
    background: #fed136;
  }
  
  input[type="radio"]:nth-child(3):checked ~ .tabsContents .tabsContents__content:nth-child(3) {
    max-height: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  input[type="radio"]:nth-child(4):checked ~ .tabs .tab:nth-child(4) {
    color: #fed136;
  }
  input[type="radio"]:nth-child(4):checked ~ .tabs .tab:nth-child(4)[for= galerie] {
    background: #222;
  }
  input[type="radio"]:nth-child(4):checked ~ .tabs .tab:nth-child(4)[for= photo] {
    background: #222;
  }
  input[type="radio"]:nth-child(4):checked ~ .tabs .tab:nth-child(4)[for= info] {
    background: #222;
  }
  input[type="radio"]:nth-child(4):checked ~ .tabs .tab:nth-child(4)[for= story] {
    background: #222;
  }
  
  input[type="radio"]:nth-child(4):checked ~ .tabsContents .tabsContents__content:nth-child(4) {
    max-height: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
    transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }


.img#hover
{ background-image : url(../img/team/g5.gif); }
